In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Я взял SMET файл и удалил из него шапку. Оставил только названия колонок и сами данные. Метаинформацию нужно будет применить потом. А именно, заменить -999 нанами, а две колонки домножить на 0.01. Сейчас цель - перевести файл в полноценный csv.

In [20]:
smet_data = pd.read_csv('meteoset_without_multiple.csv', sep=' ')

In [21]:
smet_data.head()

,timestamp,TA,RH,VW,DW,ISWR,OSWR,ILWR,OLWR,PSUM,HS_M,HS,TSG,TSS,LYSI,SWE_M
0,1996-09-01T01:00,273.05,0.977,1.46,301.1,0.0,0.0,314.9,325.5,0.0,-999.0,-999.0,-999.0,-999.0,0.2,-999
1,1996-09-01T01:30,273.05,0.973,1.98,316.6,0.0,0.0,310.2,325.4,0.0,-999.0,-999.0,-999.0,-999.0,0.0,-999
2,1996-09-01T02:00,273.15,0.959,2.35,329.3,0.0,0.0,296.2,323.1,0.0,-999.0,-999.0,-999.0,-999.0,0.0,-999
3,1996-09-01T02:30,273.15,0.938,2.60,300.7,0.0,0.0,294.3,322.7,0.0,-999.0,-999.0,-999.0,-999.0,0.0,-999
4,1996-09-01T03:00,272.75,0.997,2.76,281.0,0.0,0.0,311.5,323.1,0.0,-999.0,-999.0,-999.0,-999.0,0.0,-999

pandas справился и csv уже готов.

Сразу почистим его и домножим нужные колонки.

In [25]:
smet_data = smet_data.replace([float(-999), str(-999), -999], np.nan)

In [26]:
smet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365664 entries, 0 to 365663
Data columns (total 16 columns):
timestamp    365664 non-null object
TA           365659 non-null float64
RH           365603 non-null float64
VW           365664 non-null float64
DW           365664 non-null float64
ISWR         365658 non-null float64
OSWR         364348 non-null float64
ILWR         365658 non-null float64
OLWR         364333 non-null float64
PSUM         364907 non-null float64
HS_M         11654 non-null float64
HS           312221 non-null float64
TSG          309037 non-null float64
TSS          308969 non-null float64
LYSI         361377 non-null float64
SWE_M        368 non-null float64
dtypes: float64(15), object(1)
memory usage: 44.6+ MB

Домножаем HS_M и HS на 0.01

In [27]:
smet_data.HS_M *= 0.01

In [28]:
smet_data.HS *= 0.01

In [29]:
smet_data

,timestamp,TA,RH,VW,DW,ISWR,OSWR,ILWR,OLWR,PSUM,HS_M,HS,TSG,TSS,LYSI,SWE_M
0,1996-09-01T01:00,273.05,0.977,1.46,301.1,0.000000,0.000000,314.900,325.500,0.000000,NaN,NaN,NaN,NaN,0.20,NaN
1,1996-09-01T01:30,273.05,0.973,1.98,316.6,0.000000,0.000000,310.200,325.400,0.000000,NaN,NaN,NaN,NaN,0.00,NaN
2,1996-09-01T02:00,273.15,0.959,2.35,329.3,0.000000,0.000000,296.200,323.100,0.000000,NaN,NaN,NaN,NaN,0.00,NaN
3,1996-09-01T02:30,273.15,0.938,2.60,300.7,0.000000,0.000000,294.300,322.700,0.000000,NaN,NaN,NaN,NaN,0.00,NaN
4,1996-09-01T03:00,272.75,0.997,2.76,281.0,0.000000,0.000000,311.500,323.100,0.000000,NaN,NaN,NaN,NaN,0.00,NaN
5,1996-09-01T03:30,272.65,1.033,1.33,305.9,0.000000,0.000000,316.600,323.700,0.000000,NaN,NaN,NaN,NaN,0.00,NaN
6,1996-09-01T04:00,272.85,1.016,1.41,283.6,0.000000,0.000000,317.300,320.600,0.316506,NaN,NaN,NaN,NaN,0.00,NaN
7,1996-09-01T04:30,272.95,0.960,1.42,264.6,0.000000,0.000000,316.000,320.000,0.316924,NaN,NaN,NaN,NaN,0.00,NaN
8,1996-09-01T05:00,272.75,1.026,1.77,318.6,0.000000,0.000000,317.000,319.700,0.218243,NaN,NaN,NaN,NaN,0.20,NaN
9,1996-09-01T05:30,272.55,1.005,2.14,314.1,0.200000,0.300000,314.800,320.700,0.000000,NaN,NaN,NaN,NaN,0.00,NaN
10,1996-09-01T06:00,272.85,0.972,2.50,319.6,6.200000,1.800000,313.900,320.300,0.116907,NaN,NaN,NaN,NaN,0.00,NaN
11,1996-09-01T06:30,272.75,0.983,2.16,324.7,17.900000,3.800000,315.800,320.800,0.000000,NaN,NaN,NaN,NaN,0.00,NaN
12,1996-09-01T07:00,272.85,0.972,1.16,293.4,75.000000,11.100000,314.800,324.100,0.100000,NaN,NaN,NaN,NaN,0.20,NaN
13,1996-09-01T07:30,272.55,0.992,0.99,296.2,106.600000,10.500000,315.100,327.400,0.000000,NaN,NaN,NaN,NaN,0.00,NaN
14,1996-09-01T08:00,272.45,1.055,1.04,321.7,80.300000,7.100000,316.300,326.900,0.000000,NaN,NaN,NaN,NaN,0.00,NaN
15,1996-09-01T08:30,272.65,1.018,1.25,324.0,149.400000,11.400000,317.100,334.100,0.103825,NaN,NaN,NaN,NaN,0.20,NaN
16,1996-09-01T09:00,273.15,0.971,2.17,325.1,203.400000,13.400000,313.700,331.200,0.453228,NaN,NaN,NaN,NaN,0.40,NaN
17,1996-09-01T09:30,272.55,0.991,2.51,247.5,176.600000,13.400000,315.800,329.100,0.351336,NaN,NaN,NaN,NaN,0.40,NaN
18,1996-09-01T10:00,272.65,0.988,2.90,263.6,342.300000,27.400000,317.000,334.000,0.486067,0.01,NaN,NaN,NaN,0.20,NaN
19,1996-09-01T10:30,273.05,0.942,3.21,273.4,310.500000,21.300000,316.600,338.100,0.374460,NaN,NaN,NaN,NaN,0.40,NaN
20,1996-09-01T11:00,272.65,0.975,3.22,294.3,421.000000,32.600000,317.400,343.500,0.250564,NaN,NaN,NaN,NaN,0.40,NaN
21,1996-09-01T11:30,272.75,0.997,2.96,267.7,535.300000,44.200000,315.700,349.800,0.366445,NaN,NaN,NaN,NaN,0.20,NaN
22,1996-09-01T12:00,273.35,0.987,3.13,303.4,274.900000,18.900000,317.000,349.200,0.123658,NaN,NaN,NaN,NaN,0.20,NaN
23,1996-09-01T12:30,273.05,0.992,3.43,317.1,262.100000,20.500000,316.300,343.500,0.000000,NaN,NaN,NaN,NaN,0.20,NaN
24,1996-09-01T13:00,273.05,0.986,3.41,317.9,273.800000,21.800000,317.100,345.500,0.127163,NaN,NaN,NaN,NaN,0.00,NaN
25,1996-09-01T13:30,273.15,0.961,3.22,320.2,254.800000,19.900000,315.900,345.500,0.124850,NaN,NaN,NaN,NaN,0.00,NaN
26,1996-09-01T14:00,272.95,0.980,3.80,320.1,260.800000,22.600000,315.000,343.800,0.000000,NaN,NaN,NaN,NaN,0.20,NaN
27,1996-09-01T14:30,273.05,0.977,4.19,330.5,219.100000,19.000000,315.600,341.400,0.000000,NaN,NaN,NaN,NaN,0.00,NaN
28,1996-09-01T15:00,272.65,1.009,3.88,327.5,213.700000,17.300000,316.100,337.800,0.266841,NaN,NaN,NaN,NaN,0.00,NaN
29,1996-09-01T15:30,272.75,0.992,3.90,303.5,92.600000,6.700000,316.100,330.200,0.400587,NaN,NaN,NaN,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365634,2017-07-10T10:00,282.65,0.819,1.40,140.0,473.493000,52.346700,326.280,387.613,0.000000,NaN,0.00,288.65,287.15,0.00,NaN
365635,2017-07-10T10:30,283.85,0.810,1.10,160.0,586.340000,65.273300,329.167,405.733,0.000000,NaN,0.00,292.75,290.65,0.00,NaN
365636,2017-07-10T11:00,283.65,0.844,1.30,158.0,333.040000,36.926700,334.713,400.193,0.000000,NaN,0.00,290.95,289.75,0.00,NaN
365637,2017-07-10T11:30,283.35,0.840,0.80,151.0,186.487000,20.940000,347.667,391.833,0.000000,NaN,0.00,288.75,288.25,0.00,NaN
365638,2017-07-10T12:00,283.55,0.847,0.50,249.0,400.393000,46.133300,342.407,399.907,0.000000,NaN,0.00,290.65,289.65,0.00,NaN
365639,2017-07-10T12:30,284.05,0.843,1.50,155.0,211.213000,23.786700,350.973,396.147,0.000000,NaN,0.00,289.55,288.95,0.00,NaN
365640,2017-07-10T13:00,283.45,0.880,0.40,300.0,204.600000,22.793300,347.680,392.547,0.000000,NaN,0.01,288.65,288.25,0.00,NaN
365641,2017-07-10T13:30,283.15,0.872,0.10,56.0,452.707000,52.373300,331.953,399.240,0.000000,NaN,NaN,293.55,291.55,0.00,NaN
365642,2017-07-10T14:00,284.15,0.863,1.40,170.0,292.840000,34.380000,342.233,404.273,0.000000,NaN,0.00,291.15,290.35,0.00,NaN
365643,2017-07-10T14:30,284.55,0.842,2.00,152.0,391.493000,45.120000,336.660,406.307,0.000000,NaN,0.00,291.55,290.45,0.00,NaN
365644,2017-07-10T15:00,284.95,0.845,1.70,167.0,485.173000,56.586700,326.373,414.960,0.000000,NaN,0.00,293.45,291.85,0.00,NaN
365645,2017-07-10T15:30,284.85,0.828,1.60,151.0,209.393000,23.600000,342.853,403.220,0.000000,NaN,0.01,290.55,289.95,0.00,NaN
365646,2017-07-10T16:00,284.15,0.889,1.60,129.0,134.633000,14.306700,351.700,393.540,0.000000,NaN,0.01,288.95,288.45,0.00,NaN
365647,2017-07-10T16:30,282.25,0.998,1.10,88.0,71.240000,8.806670,359.020,377.713,0.000000,NaN,0.00,286.25,285.85,0.00,NaN
365648,2017-07-10T17:00,281.35,1.000,1.10,314.0,77.620000,7.866670,352.260,377.840,0.000000,NaN,0.01,285.35,285.45,0.00,NaN
365649,2017-07-10T17:30,281.35,0.960,0.80,281.0,106.713000,12.093300,323.660,376.800,0.000000,NaN,0.01,285.35,285.05,0.00,NaN
365650,2017-07-10T18:00,281.95,0.913,1.20,268.0,40.080000,4.460000,333.433,373.840,0.000000,NaN,0.01,284.55,284.55,0.00,NaN
365651,2017-07-10T18:30,281.15,0.960,1.50,281.0,8.360000,0.113333,345.387,367.827,1.184070,NaN,0.01,283.05,283.65,0.00,NaN
365652,2017-07-10T19:00,280.95,0.968,1.00,345.0,4.433330,-1.000000,349.140,363.100,5.000000,NaN,0.01,282.35,282.75,3.36,NaN
365653,2017-07-10T19:30,280.35,0.993,1.60,161.0,3.640000,-1.200000,348.893,359.400,4.253130,NaN,0.01,281.85,282.15,4.32,NaN
365654,2017-07-10T20:00,279.65,0.968,2.40,149.0,4.346670,-0.700000,338.460,357.260,0.413260,NaN,0.01,281.25,281.75,0.96,NaN
365655,2017-07-10T20:30,279.85,0.919,2.60,165.0,1.560000,-0.466667,333.647,355.173,0.000000,NaN,0.01,280.85,281.25,0.16,NaN
365656,2017-07-10T21:00,280.15,0.895,2.60,156.0,1.046670,-0.680000,318.053,353.900,0.000000,NaN,0.01,280.65,280.85,0.00,NaN
365657,2017-07-10T21:30,280.35,0.875,1.30,135.0,0.606667,-0.260000,312.653,353.013,0.000000,NaN,0.01,280.45,280.55,0.00,NaN
365658,2017-07-10T22:00,280.65,0.870,0.50,67.0,1.580000,0.160000,324.853,354.267,0.000000,NaN,0.01,280.65,280.85,0.00,NaN
365659,2017-07-10T22:30,280.85,0.871,0.50,80.0,1.446670,0.133333,338.600,355.987,0.000000,NaN,0.01,280.95,281.25,0.00,NaN
365660,2017-07-10T23:00,279.55,0.959,3.20,329.0,-1.366670,-2.900000,342.300,352.380,2.392930,NaN,0.01,280.35,280.65,1.28,NaN
365661,2017-07-10T23:30,279.15,0.995,2.20,320.0,-0.280000,-1.206670,341.660,351.033,4.269980,NaN,0.01,280.05,280.35,4.16,NaN
365662,2017-07-11T00:00,278.85,0.990,2.40,345.0,-0.260000,-0.873333,339.360,349.687,0.910760,NaN,0.00,279.75,280.15,1.28,NaN
365663,2017-07-11T00:30,278.85,0.973,1.10,311.0,-0.313333,-0.560000,335.760,349.247,1.500000,NaN,0.01,279.55,280.05,1.44,NaN

Сохраним датасет в таком виде, и будем работать с ним.

In [ ]:
smet_data.to_csv('meteoset_uncleaned.csv')